<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flow-arrow-color</key>
	<string>rgb(245, 152, 0, 1)</string>
	<key>rulers-text</key>
	<string>#000000</string>
	<key>rulers-text-dark</key>
	<string>#FFFFFF</string>
	<key>rulers-background</key>
	<string>#FFFFFF</string>
	<key>rulers-background-dark</key>
	<string>rgb(33,33,33)</string>
	<key>rulers-behind-label</key>
	<string>rgba(255,255,255,0.80)</string>
	<key>rulers-behind-label-dark</key>
	<string>rgba(33,33,33,0.80)</string>
	<key>rulers-line</key>
	<string>#999999</string>
	<key>rulers-line-dark</key>
	<string>#000000</string>
	<key>rulers-occupied</key>
	<string>rgba(153,153,153,0.30)</string>
	<key>rulers-occupied-dark</key>
	<string>rgba(0,0,0,0.30)</string>
	<key>asset-border-color</key>
	<string>rgba(0,0,0,0.15)</string>
	<key>badge-library-changes</key>
	<string>#B53ADD</string>
	<key>badge-missing-fonts</key>
	<string>#F96300</string>
	<key>badge-plugin-updates</key>
	<string>#D81CF7</string>
	<key>cloud-header-background</key>
	<string>#F9F9F9</string>
	<key>cloud-header-separator</key>
	<string>#D8D8D8</string>
	<key>cloud-shares-timestamp-color</key>
	<string>#737373</string>
	<key>color-inspector-separator</key>
	<string>#E5E5E5</string>
	<key>colorpicker-darkshadow</key>
	<string>rgba(0,0,0,0.75)</string>
	<key>colorpicker-lightshadow</key>
	<string>#F8F8F8</string>
	<key>colorpicker-markerfill</key>
	<string>#ECECEC</string>
	<key>colorpicker-markershadow</key>
	<string>#000000</string>
	<key>components-background-bottom</key>
	<string>#EDEDED</string>
	<key>components-background-header</key>
	<string>#E0E0E0</string>
	<key>components-background-separator</key>
	<string>#D5D5D5</string>
	<key>components-background-top</key>
	<string>#F7F7F7</string>
	<key>hover</key>
	<string>#38B0FD</string>
	<key>hover-dark</key>
	<string>#FF0000</string>
	<key>inspector-section-background</key>
	<string>#EDEDED</string>
	<key>inspector-section-separator</key>
	<string>#C6C6C6</string>
	<key>inspector-separator</key>
	<string>#AAAAAA</string>
	<key>label-backgroundcolor</key>
	<string>rgba(0,0,0,0.30)</string>
	<key>label-error-color</key>
	<string>#E01F1F</string>
	<key>layerlist-filter-off</key>
	<string>#3E7CEB</string>
	<key>layerlist-filter-on</key>
	<string>#616161</string>
	<key>layerlist-layer-name-inactive</key>
	<string>#7F7F7F</string>
	<key>layerlist-preview-fill</key>
	<string>#EFEFEF</string>
	<key>layerlist-preview-fill-mask</key>
	<string>rgba(255,255,255,0.60)</string>
	<key>layerlist-preview-fill-selected</key>
	<string>rgba(255,255,255,0.00)</string>
	<key>message-bezel-border-color</key>
	<string>rgba(0,0,0,0.10)</string>
	<key>message-bezel-shadow-color</key>
	<string>rgba(0,0,0,0.21)</string>
	<key>outline-artboard-alternateRowBackgroundColour</key>
	<string>#F7F7F7</string>
	<key>outline-artboard-borderColour</key>
	<string>#8C8C8C</string>
	<key>outline-artboard-highlightColour</key>
	<string>#38B1FD</string>
	<key>outline-artboard-rowBackgroundColour</key>
	<string>#F7F7F7</string>
	<key>outline-artboard-selectionBackgroundColour</key>
	<string>#C2C2C2</string>
	<key>outline-artboard-selectionForegroundColour</key>
	<string>#5887DD</string>
	<key>outline-edit-standard</key>
	<string>#4177C1</string>
	<key>outline-standard-alternateRowBackgroundColour</key>
	<string>#E6E6E6</string>
	<key>outline-standard-highlightColour</key>
	<string>#38B1FD</string>
	<key>outline-standard-rowBackgroundColour</key>
	<string>#ECECEC</string>
	<key>outline-standard-selectionBackgroundColour</key>
	<string>#C2C2C2</string>
	<key>outline-standard-selectionForegroundColour</key>
	<string>#5887DD</string>
	<key>popover-error-color</key>
	<string>#FBB1BA</string>
	<key>toolbar-popover-heading-textcolor</key>
	<string>rgba(38,38,38,1)</string>
	<key>toolbar-popover-body-textcolor</key>
	<string>rgba(0,0,0,0.5)</string>
	<key>prefs-library-error</key>
	<string>#EF001C</string>
	<key>prefs-data-error</key>
	<string>#EF001C</string>
	<key>sidebar-splitview-divider-colour</key>
	<string>#A9A9A9</string>
	<key>symbol</key>
	<string>#9044B8</string>
	<key>selection-stroke</key>
	<string>rgb(170, 170, 170)</string>
</dict>
</plist>
